lib/examples/tested_circuits/simAnnTest/
lib/computationalTests/
lib/caseStudy/
lib/examples/tested_circuits/sample_circuits/2tu/allRuns/
lib/examples/tested_circuits/sample_circuits/1tu/allRuns/
lib/examples/tested_circuits/sample_circuits/3tu/allRuns/
lib/examples/tested_circuits/circuits/1tu/allRuns/
lib/examples/tested_circuits/circuits/2tu/allRuns/
lib/examples/tested_circuits/circuits/3tu/allRuns/
lib/examples/tested_circuits/pulse_circuit/concaves/
target/
results/
jsbml.log
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
.idea
